<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Histórias</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h2>Minha Página</h2>

  <button id="menuToggle" class="mobile-only">☰</button>

  <nav id="nav-links">
    <a href="02-index.html" data-page="index">Home</a>
    <a href="sobre.html" data-page="sobre">Sobre</a>
    <a href="04-art.html" data-page="art">Art</a>
    <a id="profileLink" href="07-login.html" data-page="profile">Perfil</a>
  </nav>

  <div class="nav-buttons">
    <button id="themeToggle">🌙</button>
  </div>
</header>

<h1>Histórias</h1>
<div th:each="story : ${stories}" class="story-card">
  <img th:src="${story.imageUrl}" alt="Ícone da história">
  <a th:href="'/story/' + ${story.id}" th:text="${story.title}">Título da História</a>
</div>

</body>
</html>

